/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}

/* The code below centers all images on the page and gives them a width of 400px. */
video {
margin-left: 50px;
  display: block;
  float:left;
  width:1000px;
  border-radius: 10%;
}

/* The code below centers the text of all h2's on the page. */
h2 {
    text-align:center;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    margin:5px;
    text-align: center;
    border-radius: 100%;
    width:300px;
    height: 300px;
    align-items: center;
    display:flex;
    color:#000000ff ;
    background-color:#F05C5C;
    margin-top: 100px;
    margin-right:50px;
    margin-left:50px;

}
.info{
    background-color:white ;
    color:black;
    float:right;
    width:700px;
    border-radius: 5px;
    border-color:lightyellow;
    margin-top: 100px;
    border-right: 100px;
    font-size: large;
    text-align: center;
    margin-right: 30px;
    padding-top:50px;
    padding-bottom:50px;
}

top{
    justify-content: space-evenly;
}

h1{
  background-color:#b3c7f7 ;  
  margin-top: 20px;
  box-sizing: border-box;
  border-color: white;
  border-width: 2px;
  border-bottom: white;
  color:black
}
body{
    background-color:#b3c7f7 ;  
}
h6{
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}

.polar{
    width: 200px;
    height:200px
}

.carouselslide{
    width:1200px;
    height: 700px;
}

h1{
    background-color: #f7f2ea;
    padding:50px;
    border-radius: 1%;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}